<header>
  <div class="container">
    <nav class="top_header">
      <div class="logo">
        <a routerLink="/home"><img class="header_logo" src="assets/images/spo-simple-logo.png" alt="DocApp"></a>
      </div>
      <div class="top_right">
        <ul>
                <li> <a routerLink="/home" class="nav-link" >Home</a></li>
                <li> <a routerLink="/about" class="nav-link">About</a></li>
                <li> <a routerLink="/patient/s" class="nav-link">faq</a></li>
               <div ngbDropdown class="d-inline-block show__menu login_signup">
                <li class="login_sign"> <a id="dropdownBasics" ngbDropdownToggle>Login/SignUp</a></li>
               <div ngbDropdownMenu aria-labelledby="dropdownBasics">
                 <ul>
                   <li class="d_head">Patients</li>
                   <li> <a class="dropdown__menu" ngbDropdownItem4  (click)="open(content)">LogIn</a></li>
                    <li> <a class="dropdown__menu" ngbDropdownItem4   (click)="show(contents)">Signup</a></li>
                 </ul>
                 <ul>
                <li class="d_head">Doctors</li>
               <li><a routerLink="/signin" [queryParams]="{ provider:1 }" class="nav-link" routerLinkActive="active">Login</a></li>
               </ul>
                </div>
            </div>
        </ul>
      </div>
    </nav>
    <div class="middle_header text-center">
        <h1>Feeling meh? Find a doctor.</h1>
        <h6>Search Doctors and Book appointments online, instantly</h6>
        <form action="/search" method="POST">
          <div class="form-group">
            <!-- <span class="Calender"><i class="fa fa-search format__calender"></i></span> -->
              <mat-form-field class="width doctor_mat">
                  <input type="text" matInput aria-label="Doctor"  name="speciality" class="form-control first_input" [matAutocomplete]="auto" [formControl]="doctorCtrl" required  matTooltip="condition, procedure, doctor name..." placeholder="condition, procedure, doctor name..." matTooltipPosition="after" #speciality>
                   <mat-icon class="mat_icon_search">search</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let doctor of filteredDoctor | async" [value]="doctor.name">
                       <div class="doctor__show"> <span class="doctor__search">{{ doctor.name }} | {{ doctor.code }}</span></div>
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
             <!-- <input type="text" class="form-control" id="zipcode" name="place" placeholder="Zip code or city" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" #place> -->
             <input type="search"  name="place" class="form-control form-input" id="address_finder" placeholder="Zip code or city" #place/>
             <span class="Calender"><i class="fa fa-map-marker format__calender"></i></span>
              <input type="text" class="form-control"  name="appointment_date" id="insurance_number" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2"  placeholder="Choose your Date" #appointment_date>
              <span [owlDateTimeTrigger]="dt2" class="Calender"><i class="fa fa-calendar format__calender"></i></span>
              <owl-date-time  [pickerType]="'calendar'" #dt2></owl-date-time>
             <button type="submit" class="btn btn-primary" (click)="search_doctor(speciality.value,place.value,appointment_date.value)">Search</button>
          </div>
        </form>
    </div>
     </div>
          <ng-template #content let-c="close">
            <div class="container login__modals">
            <div class="modal_popup">
              <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
                  <span class="cross" aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              <app-login-form></app-login-form>
              </div>
            </div>
          </ng-template>
          <ng-template #contents let-c="close">
            <div class="container">
            <div class="modal_popup">
              <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
                  <span class="cross" aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <app-registration-form></app-registration-form>
              </div>
            </div>
      </ng-template>
</header>
