<footer>
  <div class="need_help text-center">
    <div class="container">
      <h2>Need help?  Visit our <span>Knowledge base</span></h2>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">


        <div class="col-md-2 col-sm-12">
         <h3>About</h3>
         <ul>
           <li><a href="#">Home</a></li>
           <li><a href="#">About</a></li>
           <li><a href="#">Press</a></li>
           <li><a href="#">Careers</a></li>
           <li><a href="#">Contact</a></li>
           <li><a href="#">Help</a></li>
           <li><a href="#">Blogs</a></li>
           <li><a href="#">The Script</a></li>
           <li><a href="#">Health Q&A</a></li>
         </ul>
        </div>
        <div class="col-md-2 col-sm-12">
          <h3>Cities</h3>
         <ul>
           <li><a href="#">Atlanta</a></li>
           <li><a href="#">Chicago</a></li>
           <li><a href="#">Denver</a></li>
           <li><a href="#">Houston</a></li>
           <li><a href="#">New York</a></li>
           <li><a href="#">Philadelphia</a></li>
           <li><a href="#">Phoenix</a></li>
           <li><a href="#">San Antonio</a></li>
           <li><a href="#">Washington DC</a></li>

         </ul>
        </div>
        <div class="col-md-2 col-sm-12">
        <h3>Specialties</h3>
         <ul>
           <li><a href="#">Chiropractors</a></li>
           <li><a href="#">Dentists</a></li>
           <li><a href="#">Dermatologists</a></li>
           <li><a href="#">Eye Doctors</a></li>
           <li><a href="#">Gynecologists</a></li>
           <li><a href="#">Primary care doctors</a></li>
           <li><a href="#">Psychiatrists</a></li>
         </ul>
       </div>
        <div class="col-md-2 col-sm-12">
          <h3>Search by</h3>
         <ul>
           <li><a href="#">Specialty</a></li>
           <li><a href="#">Procedure</a></li>
           <li><a href="#">Language</a></li>
           <li><a href="#">Location</a></li>
           <li><a href="#">Insurance</a></li>
           <li><a href="#">Reviews</a></li>
         </ul>
        </div>
        <div class="col-md-4 col-sm-12">
          <h3>Look up your doctor</h3>
         <ul>
           <li><a href="#">Doctor name</a></li>
           <li><a href="#">Practice name</a></li>
           <li><a href="#">Hospital name</a></li>
           <li class="footer_img"><a href="#"><img src="assets/images/android_btn.png"></a></li>
           <li class="footer_img"><a href="#"><img src="assets/images/apple_btn.png"></a></li>
         </ul>
        </div>
      </div>
     </div>
  </div>
  <div class="copyright">
    <div class="container copy_section">
      <p>© Copyright 2018.All Right Reserved</p>
      <ul>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Español</a></li>
      </ul>
    </div>
  </div>
  </footer>
