.login_email{padding: 80px 0; background-color: rgb(243, 243, 244);}
.login_email h3 {color: rgb(0, 35, 75); margin-bottom: 18px;text-align: center; font-size:18px;}
.login_email form{    width: 100%;  max-width: 40%;  margin: 0 auto;}
.login_email form input{width:100%; padding:10px;}
.login_email form button{    background:#27baa7;  border: none;color: #fff;width: 100%; padding: 10px;
  text-transform: uppercase;font-weight: 600; }
.forget_login{    display: flex;
  justify-content: center;
  flex-direction: column; margin-top: 20px;}
  .forget_login a{    color: rgb(43, 191, 237); font-size:14px; font-weight: 600; line-height: 28px;}
