<div class="container-fluid new-join-header">
  <div class="header-container row">
      <div class="header-col col-sm">
        <div _ngcontent-c2="" class="logo"><a _ngcontent-c2="" routerLink="/home"><img class="header_logo new__logo" src="assets/images/doc_app_write.png" alt="ZocDoc Logo"></a></div>
      </div>
  </div>
</div>
<section>
  <article class="list_header">
    <div class="content">
      <div class="container">
      <h2>Join us, and help transform healthcare for everyone.</h2>
      <a href="#" class="btn-view">View all jobs</a>
    </div>
    </div> 
    
  </article>
  <section id="mission_content">
    <div class="container">
      <div class="about_mission">
        <h2 class="mission_heading"> Our Mission </h2>
        <p>Zocdoc is the tech company at the beginning of a better healthcare experience. Every day, we are driven by our mission to give power to the patient, building products and services that simplify and streamline the overall healthcare journey for patients and providers, delivering the modern healthcare experience they expect and deserve.</p>
        <p>Our forward-thinking approach prioritizes collaboration, agility, and continuous learning in service of our long-term vision. This has helped us drive significant innovation in a complex, slow-moving industry, and our talented team is looking for impact-minded individuals to join us as we continue to re-imagine the healthcare experience.</p>
      </div>
      <div class="guide_us">
          <h2 class="mission_heading"> Our values guide us </h2>
          <div class="row">
            <div class="col-md-6">
              <h6 class="inner_heading">Patients First</h6>
              <p>We solve patient problems and prioritize their interests.</p>
            </div>
            <div class="col-md-6">
                <h6 class="inner_heading">Together, not Alone</h6>
                <p>We rally behind each other and pitch in to support the greater whole.</p>
              </div>
              <div class="col-md-6">
                  <h6 class="inner_heading">Important,
                      not Immediate</h6>
                  <p>We prioritize and invest in initiatives that will be most impactful.</p>
                </div>
                <div class="col-md-6">
                    <h6 class="inner_heading">Progress before Perfection</h6>
                    <p>We need action-oriented people to help us achieve our goals.</p>
                  </div>
                  <div class="col-md-6">
                      <h6 class="inner_heading">Learners before 
                          Masters</h6>
                      <p>We need curious and humble people who strive to improve.</p>
                    </div>
                    <div class="col-md-6">
                        <h6 class="inner_heading">Adaptable, not Comfortable</h6>
                        <p>We expect and embrace change, and we are resilient.</p>
                      </div>
          </div>
          <div class="perk">
            <h2 class="mission_heading">Our perks</h2>
            <ul>
              <li>100% paid health benefits</li>
              <li>Lunch and snacks on us</li>
              <li>Gym discounts</li>
              <li>Vacation and parental leave packages</li>
              <li>
                  Cell phone reimbursement</li>
              <li>
                  Weekly yoga</li>
            </ul>
          </div>

          <div class="job_open">
            <h2 class="mission_heading">We have 27 job openings in 3 main locations.</h2>
            <h6 class="inner_heading">Business Operations</h6>
            <div class="row">
              <div class="col-md-6"><a href="Business Operations & Strategy Analyst">Business Operations & Strategy Analyst</a></div>
              <div class="col-md-6">New York, NY</div>
            </div>
          </div>
          <div class="job_open">
              <h2 class="mission_heading">Data Science, Data Engineering, and Business Intelligence</h2>
              <h6 class="inner_heading">Business Operations</h6>
              <div class="row">
                <div class="col-md-6"><a href="Business Operations & Strategy Analyst">Principal Software Engineer - Data Platform</a></div>
                <div class="col-md-6">New York, NY</div>
              </div>
              <div class="row">
                  <div class="col-md-6"><a href="Business Operations & Strategy Analyst">Senior Business Intelligence Analyst</a></div>
                  <div class="col-md-6">New York, NY</div>
                </div>
                <div class="row">
                    <div class="col-md-6"><a href="Business Operations & Strategy Analyst">Senior Software Engineer - Data</a></div>
                    <div class="col-md-6">New York, NY</div>
                  </div>

            </div>
      </div>
    </div>
  </section>


</section>
<app-footer></app-footer>