<section id="services">
  <div class="container">
    <h2 class="text-center">Patient Knowledge Base</h2>
    <h5 class="text-center">How can we help you today?</h5>
    <div class="row inner_tabs">
      <div class="col-md-4 feature-box">
        <div class="fe_box text-center">
          <img src="https://img.icons8.com/metro/90/000000/medical-doctor.png">
        <h6 class="text-center">About Docapp</h6>
        </div>
      </div>
      <div class="col-md-4 feature-box">
        <div class="fe_box text-center">
          <img src="https://img.icons8.com/metro/90/000000/privacy.png">
        <h6 class="text-center">Data & Privacy</h6>
        </div>
      </div>
      <div class="col-md-4 feature-box">
        <div class="fe_box text-center">
          <img src="https://img.icons8.com/metro/90/000000/calendar.png">
        <h6 class="text-center">Appointments</h6>
        </div>
      </div>
      <div class="col-md-4 feature-box">
        <div class="fe_box text-center">
          <img src="https://img.icons8.com/metro/90/000000/accounting.png">
        <h6 class="text-center">Account</h6>
        </div>
      </div>
      <div class="col-md-4 feature-box">
        <div class="fe_box text-center">
          <img src="https://img.icons8.com/metro/90/000000/fine-print.png">
        <h6 class="text-center">Reviews</h6>
      </div>
      </div>
    </div>
  </div>
  </section>