<section id="patients_testimonial">
  <div class="container">
    <div class="patients_testimonial text-center">
      <h2>Patients are losing patience when trying to access your care</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
      <div class="join_btn">
        <a href="#">Join us & our partners</a>
      </div>
   </div>
        <app-slider></app-slider>
 </div>
</section>
