<div class="container-fluid">
    <p>Hey {{record.firstName | uppercase}}</p>
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{record.firstName  | uppercase}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Settings</button>
            <button ngbDropdownItem (click)="logout();">SignOut</button>
          </div>
        </div>
      </div>
  </div>
</div>
<app-footer></app-footer>


