<section id="specialist">
  <div class="container">
    <h2>Find doctors and dentists by...</h2>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="doctor_detail">
          <div class="doctors_details">
            <h3>City</h3>
            <h6><img src="assets/images/city_icon.png"></h6>
          </div>

        <ul>

          <li><a href="#">Atlanta</a></li>
          <li><a href="#">Austin</a></li>
          <li><a href="#">Chicago</a></li>
          <li><a href="#">Columbus</a></li>
          <li><a href="#">Dallas</a></li>
          <li><a href="#">Denver</a></li>
          <li><a href="#">Houston</a></li>
          <li><a href="#">Jersey City</a></li>
          <li><a href="#">Los Angeles</a></li>
          <li><a href="#">New York</a></li>
          <li><a href="#">Philadelphia</a></li>
          <li><a href="#">Phoenix</a></li>
          <li><a href="#">San Antonio</a></li>
          <li><a href="#">San Diego</a></li>
          <li><a href="#">San Francisco</a></li>
          <li><a href="#">Washington, DC</a></li>
          <li><a href="#">view all</a></li>
        </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="doctor_detail">
          <div class="doctors_details">
            <h3>Specialty</h3>
            <h6><img src="assets/images/speciality_icon.png"></h6>
          </div>

          <ul>

          <li><a href="#">Allergist</a></li>
          <li><a href="#">Cardiologist</a></li>
          <li><a href="#">Chiropractor</a></li>
          <li><a href="#">Dentist</a></li>
          <li><a href="#">Dermatologist</a></li>
          <li><a href="#">Ear, Nose & Throat Doctor</a></li>
          <li><a href="#">Gastroenterologist</a></li>
          <li><a href="#">OB-GYN</a></li>
          <li><a href="#">Opthalmologist</a></li>
          <li><a href="#">Optometrist</a></li>
          <li><a href="#">Orthopedic Surgeon</a></li>
          <li><a href="#">Pediatrician</a></li>
          <li><a href="#">Podiatrist</a></li>
          <li><a href="#">Primary Care Doctor</a></li>
          <li><a href="#">Psychiatrist</a></li>
          <li><a href="#">Urologist</a></li>
          <li><a href="#">view all</a></li>

        </ul>
      </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="doctor_detail">
          <div class="doctors_details">
            <h3>Insurance</h3>
           <h6> <img src="assets/images/insurance_icon.png"></h6>
          </div>

           <ul>

            <li><a href="#">Aetna</a></li>
            <li><a href="#">Anthem Blue Cross Blue Shield</a></li>
            <li><a href="#">Blue Cross Blue Shield</a></li>
            <li><a href="#">Cigna</a></li>
            <li><a href="#">EmblemHealth (GHI)</a></li>
            <li><a href="#">EmblemHealth (HIP)</a></li>
            <li><a href="#">Empire Blue Cross Blue Shield</a></li>
            <li><a href="#">UnitedHealthcare</a></li>
            <li><a href="#">UnitedHealthcare Oxford</a></li>
            <li><a href="#">view all</a></li>

          </ul>
        </div>
      </div>
    </div>

  </div>

</section>
